.container {
  width: 100%;
}

@media (min-width: 0px) {
  .container {
    max-width: 0px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.container {
  max-width: 100%;
  width: 100%;
}

@media (min-width: 0px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 640px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
  }
}

@media (min-width: 1536px) {
  .container {
    padding-left: 68px;
    padding-right: 68px;
    max-width: 1400px;
  }
}

.visible {
  visibility: visible;
}

.collapse {
  visibility: collapse;
}

.static {
  position: static;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.bottom-0 {
  bottom: 0px;
}

.m-0 {
  margin: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.h-20 {
  height: 5rem;
}

.h-6 {
  height: 1.5rem;
}

.h-9 {
  height: 2.25rem;
}

.h-full {
  height: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-6 {
  width: 1.5rem;
}

.w-64 {
  width: 16rem;
}

.max-w-screen-md {
  max-width: 768px;
}

.max-w-screen-xl {
  max-width: 1280px;
}

.flex-grow {
  flex-grow: 1;
}

.border-collapse {
  border-collapse: collapse;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize {
  resize: both;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.place-items-center {
  place-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.rounded-l-lg {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.rounded-r-lg {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-0 {
  padding: 0px;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pt-0 {
  padding-top: 0px;
}

.pt-\[28px\] {
  padding-top: 28px;
}

.text-center {
  text-align: center;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-\[32px\] {
  line-height: 32px;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.text-base {
  color: var(--wp--preset--color--base);
}

.text-contrast {
  color: var(--wp--preset--color--contrast);
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline {
  outline-style: solid;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.alignfull {
  margin: 0rem calc(50% - 50vw) !important;
  max-width: 100vw !important;
  width: 100vw;
}

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .alignfull {
  margin: 0px !important;
  width: 100%;
  max-width: 100% !important;
}

.alignwide {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px !important;
}

.alignnone {
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  max-width: 100%;
}

.aligncenter {
  margin: 0.5rem auto;
  display: block;
}

@media (min-width: 640px) {
  .alignleft:not(.wp-block-button) {
    margin-right: 0.5rem;
    float: left;
  }

  .alignright:not(.wp-block-button) {
    margin-left: 0.5rem;
    float: right;
  }

  .wp-block-button.alignleft a {
    float: left;
    margin-right: 1rem;
  }

  .wp-block-button.alignright a {
    float: right;
    margin-left: 1rem;
  }
}

.wp-caption {
  display: inline-block;
}

.wp-caption img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.wp-caption-text {
  font-size: 0.875rem;
  color: #4B5563;
}

/* These buttons are Style Variations definded ind editor-styles.js */

.wp-block-buttons .is-style-cta-medium-outline .wp-element-button.wp-block-button__link, .wp-block-buttons .is-style-cta-dark-outline .wp-element-button.wp-block-button__link, .wp-block-buttons .is-style-cta-light-outline .wp-element-button.wp-block-button__link, .wp-block-buttons .is-style-cta-medium .wp-element-button.wp-block-button__link, .wp-block-buttons .is-style-cta-dark .wp-element-button.wp-block-button__link, .wp-block-buttons .is-style-cta-light .wp-element-button.wp-block-button__link {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1.25;
}

.wp-block-buttons .is-style-cta-light .wp-element-button.wp-block-button__link {
  --tw-border-opacity: 1;
  border-color: rgb(157 149 250 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(157 149 250 / var(--tw-bg-opacity));
}

.wp-block-buttons .is-style-cta-light .wp-element-button.wp-block-button__link:hover {
  border-color: var(--wp--preset--color--contrast-3);
  background-color: var(--wp--preset--color--contrast-3);
}

.wp-block-buttons .is-style-cta-light-outline .wp-element-button.wp-block-button__link {
  --tw-border-opacity: 1;
  border-color: rgb(157 149 250 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(157 149 250 / var(--tw-text-opacity));
}

.wp-block-buttons .is-style-cta-light-outline .wp-element-button.wp-block-button__link:hover {
  border-color: var(--wp--preset--color--contrast-2);
  background-color: transparent;
  color: var(--wp--preset--color--contrast-2);
}

.wp-block-buttons .is-style-cta-medium .wp-element-button.wp-block-button__link {
  border-color: var(--wp--preset--color--contrast-3);
  background-color: var(--wp--preset--color--contrast-3);
}

.wp-block-buttons .is-style-cta-medium .wp-element-button.wp-block-button__link:hover {
  border-color: var(--wp--preset--color--contrast-2);
  background-color: var(--wp--preset--color--contrast-2);
}

.wp-block-buttons .is-style-cta-medium-outline .wp-element-button.wp-block-button__link {
  border-color: var(--wp--preset--color--contrast-3);
  background-color: transparent;
  color: var(--wp--preset--color--contrast-3);
}

.wp-block-buttons .is-style-cta-medium-outline .wp-element-button.wp-block-button__link:hover {
  border-color: var(--wp--preset--color--contrast-2);
  background-color: transparent;
  color: var(--wp--preset--color--contrast-2);
}

.wp-block-buttons .is-style-cta-dark .wp-element-button.wp-block-button__link {
  border-color: var(--wp--preset--color--contrast-2);
  background-color: var(--wp--preset--color--contrast-2);
}

.wp-block-buttons .is-style-cta-dark .wp-element-button.wp-block-button__link:hover {
  border-color: var(--wp--preset--color--contrast-3);
  background-color: var(--wp--preset--color--contrast-3);
}

.wp-block-buttons .is-style-cta-dark-outline .wp-element-button.wp-block-button__link {
  border-color: var(--wp--preset--color--contrast-2);
  background-color: transparent;
  color: var(--wp--preset--color--contrast-2);
}

.wp-block-buttons .is-style-cta-dark-outline .wp-element-button.wp-block-button__link:hover {
  border-color: var(--wp--preset--color--contrast-3);
  background-color: transparent;
  color: var(--wp--preset--color--contrast-3);
}

.wp-block-buttons .is-style-alternative .wp-element-button.wp-block-button__link {
  border-color: var(--wp--preset--color--contrast-3);
  background-color: var(--wp--preset--color--contrast-3);
}

.wp-block-buttons .is-style-alternative .wp-element-button.wp-block-button__link:hover {
  border-color: var(--wp--preset--color--contrast-2);
  background-color: var(--wp--preset--color--contrast-2);
}

.wp-block-buttons .is-style-outline .wp-element-button.wp-block-button__link:hover {
  --tw-border-opacity: 1;
  border-color: rgb(157 149 250 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(157 149 250 / var(--tw-text-opacity));
}

.wp-block {
  max-width: 1280px;
}

.wp-block[data-align=wide] {
  max-width: 1280px;
}

.wp-block[data-align=full] {
  max-width: 100%;
}

@media (min-width: 1024px) {
  .lg\:-mx-4 {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:bg-transparent {
    background-color: transparent;
  }

  .lg\:p-0 {
    padding: 0px;
  }

  .lg\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .lg\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lg\:text-9xl {
    font-size: 8rem;
    line-height: 1;
  }
}